@import 'common.scss';

.about {
  color: $dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    // background: $dark-blue;
    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .section-one {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .left {
        padding: 200px 0px 130px 200px;
        img {
          max-width: 550px;
          position: relative;
          z-index: 0;
          -webkit-box-shadow: 5px 5px 23px 5px #000000;
          box-shadow: 5px 5px 23px 5px #000000;
          border-radius: 30px;
        }
      }

      .right {
        padding: 75px;
        margin: 42px 100px 100px -90px;
        z-index: 1;
        min-width: 642px;
        max-width: 700px;
        background-color: $tan;
        -webkit-box-shadow: 5px 5px 23px 5px #000000;
        box-shadow: 5px 5px 23px 5px #000000;
        text-align: center;

        p {
          z-index: 1;
          font-size: 1.4em;
        }

        .first-letter {
          font-family: "Parisienne", cursive;
          color: black;
          font-weight: 900;
          font-size: 2.5em;
          text-align: center;
          margin: 0;
          padding: 0;
        }

      }
    }

    .big-text {
      font-size: 1.5em;
      font-family: 'Quicksand', sans-serif;
      color: $pink;
      max-width: 700px;
      font-weight: 700;
    }

    .section-two {
        padding: 42px 300px;
        text-align: center;
        font-size: 1.4em;
      }

      .cursive {
        font-family: 'Dancing Script', cursive;
        font-size: 3em;
        font-weight: 600;
        padding: 80px;
        color: $pink;
        width: 500px;
        text-align: center;
      }
      .aria-container-two {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;

        p {
            max-width: 1000px;
        }

        .left {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 75px;
          margin: 95px -45px 45px 130px;
          z-index: 1;
          background-color: #fcafa3;
          min-width: 600px;
          max-width: 700px;
          box-shadow: 5px 5px 23px 5px #000000;
          text-align: center;
          height: 300px;
          border-radius: 25px;
          color: white;
          font-weight: 600;
          word-spacing: 3px;

          p {
            z-index: 1;
            font-size: 1.4em;
          }
        }

        .right {
          z-index: 0;
          .owner-pic-2 {
            width: 550px;
            position: relative;
            -webkit-box-shadow: 5px 5px 23px 5px #000000;
            box-shadow: 5px 5px 23px 5px #000000;
            border-radius: 30px;
          }
        }
      }

      .about-me-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50vw;
        text-align: center;
        margin: 42px;

        p {
          color: #175676;
          font-weight: 800;
          text-align: center;
          padding: 42px 45px;
          font-size: 1.4em;
        }
      }


    .section-three, .section-four, .section-five, .section-six, .section-seven, .section-eight, .section-nine {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 3em;
      width: 100vw;
      height: 400px;
    }


    .section-three {
        padding: 45px;
        background-image: url("https://images.unsplash.com/photo-1682686581854-5e71f58e7e3f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80");
    }

    .section-four {

        background-image: url('https://images.unsplash.com/photo-1587174486073-ae5e5cff23aa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80');
    }

    .section-five {
        padding: 45px;
        background-image: url("https://images.unsplash.com/photo-1642104798671-01a4129f4fdc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2417&q=80");
    }

    .section-six {
      background-image: url('https://images.unsplash.com/photo-1467269204594-9661b134dd2b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80');
    }

    .section-seven {
      background-image: url('https://images.unsplash.com/photo-1598024055266-e772a5f8c128?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80');
    }

    .section-eight {
      background-image: url('https://images.unsplash.com/uploads/1412533519888a485b488/bb9f9777?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80');
    }

    .section-nine {
      background-image: url('https://images.unsplash.com/photo-1629760946220-5693ee4c46ac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80');
    }


}

.paper {
    background-color: #ffffff;
    background-image: url(http://www.transparenttextures.com/patterns/clean-gray-paper.png);
}


.line {
  width: 30vw;
  height: 2px;
  background-color: $coral;
  font-weight: 200;
}

  @media only screen and (max-width: 1200px) {
    .about {
      display: flex;
      flex-direction: column;

      .section-one {
        flex-direction: column;
        margin: -150px 5px 42px;
        padding: 0px 200px 0px 0px;

        .left {
          img {
            width: 80vw;
          }
        }
        .right {
          background-color: $tan;
          margin: 0px 10px 0px 200px;
          width: 100vw;
          box-shadow: none;
          z-index: 0;

          p {
            padding: 0px 142px;
            z-index: 0;
            color: $dark-blue;
          }

          .first-letter {
            font-family: "Parisienne", cursive;
            color: black;
            font-weight: 900;
            font-size: 1.4em;
            text-align: center;
            word-spacing: 3px;
          }
        }
      }

      .section-two {
        padding: 0px 42px 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px;

        p {
          margin: 140px 0px 0px
        }


              }
              .owner-pic-2 {
               width: 320px;
               text-align: center;
               margin: 0px 52px;
             }


      section {
        background-attachment:scroll;
        background-position: center;
        background-repeat: no-repeat;
      }

      .section-three,
      .section-four,
      .section-five,
      .section-six,
      .section-seven,
      .section-eight,
      .section-nine {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.6em;
        text-align: center;

        p {
          background-color: #00000071;
          padding: 15px 12px;
        }
      }

      .aria-container-two {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .left {
          margin: 0px 130px 45px 130px;
          padding: 42px 172px;
          z-index: 0;
          background-color: #fcafa3;
          max-width: 700px;
          box-shadow: none;
          text-align: center;
          height: auto;
          width: 200px;

          p {
            font-size: 1.3em;
            padding: 0px 45px;
            width: 50%;
            color: white;
            font-weight: 600;
            word-spacing: 3px;
          }
        }

        .right {
          margin-bottom: 62px;

          .owner-pic-2 {
            width: 350px;
          }
        }
      }
    }

    .about-me-container {
      p {
        color: $dark-blue;
        font-weight: 800;
        text-align: center;
        padding: 0px 42px;
        width: 80vw;

      }
    }
    .cursive {
      text-align: center;
      color: black;
      font-weight: 600;
      margin: 0px;
      font-size: 2.5em !important;
      margin: 10px 420px !important;
      width: 80vw !important;
    }

  }