@import 'common.scss';

.header-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // flex-grow: 1;
    /* Add more styles as needed */
    background-color: $blue;

    img {
        width: 200px;
        cursor: pointer;
    }

    img:hover {
        filter: brightness(80%);
    }
}