@import 'common.scss';

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}


.home-main {
    .section-one{
        padding: 42px 170px;
        background: #e2e8f0;
        display: grid;
        gap: 60px;
        grid-template-columns: 1fr 1fr;
    }

    header {
        height: 200px;
    }

    section {
        height: 300px;
    }
}

.left-square {
    outline: 8px double $pink ;
    outline-offset: 15px ;

    h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 2.8em;
        text-align: center;
    }
}

.right-square {
    background-image: url('https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8c21pbGluZyUyMHdvbWFufGVufDB8fDB8fHww&auto=format&fit=crop&w=700&q=60');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

@media screen and (max-width: 440px) {
    .home-main {
        .section-one{
            padding: 70px;
            grid-template-columns: 1fr;
        }
    }
}