@import 'common.scss';

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.home-main {
    .section-one{
        padding: 150px 210px;
        background: #175676;
        display: grid;
        gap: 75px;
        grid-template-columns: 1fr 1fr;
        height: 475px;

        .left-square {
            outline: 8px double $pink ;
            outline-offset: 25px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 500px;
            width: 500px;
            border-radius: 50px;

            .content {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                background-color: #0000006b;
                color: white;
                margin: 25px;
                font-family: 'Quicksand', sans-serif;
                box-shadow: 0px 10px 30px 10px #000000;
                border-radius: 50px;
                background: linear-gradient(145deg, #195c7e, #154d6a);
                box-shadow:  20px 20px 60px #144964,
                             -20px -20px 60px #1a6388;
                height: 400px;
                width: 400px

                p {
                    padding: 0;
                    margin: 0;
                }
            }

            h1 {
                font-family: "Dancing Script", cursive;
                font-size: 2.8em;
                text-align: center;
                color: white;
                white-space: pre-line;
                line-height: 52px;
            }

            p {
                padding: 15px;
            }
        }

        .right-square {
            background-image: url('https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8c21pbGluZyUyMHdvbWFufGVufDB8fDB8fHww&auto=format&fit=crop&w=700&q=60');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            max-height: inherit;
            min-width: 250px;
            max-width: 300px;
            box-shadow: 0px 10px 30px 18px rgba(0,0,0,0.75);
        }

    }

    .section-two{
        padding: 150px 170px;
        display: grid;
        gap: 60px;
        grid-template-columns: 1fr 1fr;

        .left-square {
            background-image: url('https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8c21pbGluZyUyMHdvbWFufGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 500px;
        }

        .right-square {
            outline: 8px double $pink ;
            outline-offset: 15px ;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 500px;


            h1 {
                font-family: 'Dancing Script', cursive;
                font-size: 2.8em;
                text-align: center;
            }
        }

    }

    .section-three {
        background-image: url('https://images.unsplash.com/photo-1490750967868-88aa4486c946?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: 8px double white ;
        // inline: 15px ;
        .subscribe-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100vw;
            padding: 42px;

            h3 {
                // backdrop-filter: blur(10px);
                background-color: #175676e0;
                width: 50%;
                text-align: center;
                color: white;
                padding: 42px;
            }
        }
    }

    header {
        height: 200px;
    }
}



@media screen and (max-width: 440px) {
    .home-main {
        .section-one{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            padding: 0px;
            height: 1500px;


            .left-square {
                -webkit-order: 2; /* Vendor prefix for Safari */
                order: 2;
                height: 625px;
                width: 300px;
                margin: 0px;


                h1 {
                    font-size: 2em;
                }
            }

            .right-square{
                -webkit-order: 1; /* Vendor prefix for Safari */
                order: 1;
                height: 550px;
                width: 90%;
            }
        }
    }
}