/* The side navigation menu */
@import 'common.scss';


.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    width: 90px;
    font-size: 24px;

    &.open {
        width: 250px;
        /* Set the desired width when the navigation bar is open */
    }

    .active {
        color: $red;
    }
}

.closed-nav-tab {
    display: flex;
    flex-direction: column;
    color: $red;
    position: fixed;
    font-size: 1.5em;
    left: 95px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    // z-index: 100;

    &:hover {
        font-size: 2em;
    }
}

.opened-nav-tab {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 220px;
    font-size: 1.5em;
    color: $red;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 2em;
    color: $tan;
    display: block;
    transition: 0.3s;
    margin: 25px 0px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: $red;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    // padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 440px) {
    .sidenav {
        padding-top: 15px;
        width: 0px;
        padding: 5px;
        left: -15px;
    }

    .closed-nav-tab {
        left: 10px;
    }

    .sidenav a {
        font-size: 18px;
    }
}